:root {
    --color-border: #777;
    
    --color-primary: #1a3c99;
    --color-primary-hover: #2950bd;
    --color-secondary: #6c757d;
    --color-secondary-hover: #868c91;

    --color-bg-primary: #f9f9f9;
    --color-bg-secondary: #f0f0f0;

    --color-bg-modal: white;

    --color-navbar-bg: #333;
    --color-navbar-bg-hover: #444;
    
    --color-toolbar-item: black;
    --color-toolbar-item-bg: white;
    --color-toolbar-item-bg-active: #fafafa;
    
    --color-text-primary: black;
    --color-text-secondary: white;
    --color-text-navbar: white;
}

.btn {
    border: 0px solid var(--color-secondary);
    font-size: 11pt;
    padding: 6px 12px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary {
    background-color: var(--color-secondary);
}

.btn-secondary:hover {
    background-color: var(--color-secondary-hover);
}