#side-bar {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: var(--color-bg-primary);
    border-right: 1px solid var(--color-border);
}

#property-window div {
    padding: 10px;
}

#property-window label {
    display: block;
    padding-top: 10px;
}

#property-window select {
    width: 99%;
}

#property-window input {
    width: 94%;
}

#inputs-window {
    padding-left: 0.5rem; 
    padding-top: 0.5rem;
}

#inputs-window table {
    border-collapse: collapse;
}

#inputs-window td{
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-border);
}

#inputs-window th{
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 4px;
    border: 1px solid var(--color-border);
    color: white;
    background-color: var(--color-primary-darker);
}

#inputs-window input[type="checkbox"] {
    accent-color: var(--color-secondary);
}